[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysc2 = "==4.0.0"
tensorflow = "*"
numpy = "*"
pandas = "*"
tensorflow-gpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
